---
import { Container } from '../components/Container';
import Layout from '../layouts/Layout.astro';
---

<Layout title="plank" description="characters" dropdown={[
														{name: 'Special', dropdown: [
															['explode', () => console.log('fag')]
														]}
													]}>
	<main class="window">
		hhhhhhh
	</main>
</Layout>