---
import Layout from '../layouts/Layout.astro';
import '../hx/require.js';
import { TestComponent } from '../hx/react.tsx';
---

<Layout title="plank">
	<main>
		hi chat
		<TestComponent/>
	</main>
</Layout>

<style>
	main {
	}

</style>
