---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import { Topbar } from '../components/Topbar';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<style>
		@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
		</style>
		<title>{title}</title>
	</head>
	<body>
		<Topbar buttons={[{name: 'test', dropdown: ['hi', 'haiiiiii', ':>', ':<']}, {name: 'colon the third', dropdown: [':3', ':3', ':3', ':3']}]}/>
		<slot />
	</body>
</html>
<style is:global>
	body {
		margin: 0;
		padding: 0;
		font-family: 'Nunito Sans', system-ui, sans-serif;
		background: url('../../public/Aurora.jpg');
	}
</style>
