---
interface Props {
	title: string;
	description: string;
	dropdown: any;
}

const { title, description, dropdown } = Astro.props;
import { Topbar } from '../components/Topbar';
import '../css/window.css';
import '../css/general.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<style>
		@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
		</style>
		<title>{title}</title>
	</head>
	<body>
		<Topbar buttons={dropdown} client:load/>
		<slot/>
	</body>
</html>

<style is:global>
	body {
		background: url('/Aurora.jpg');
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>
